apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: bib-default-deny
  namespace: bib
spec:
  podSelector: {}
  policyTypes:
    - Ingress
    - Egress
  ingress: []
  egress:
    - to: []
---
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: bib-allow-internal
  namespace: bib
spec:
  podSelector:
    matchLabels:
      app.kubernetes.io/part-of: bib
  policyTypes:
    - Ingress
  ingress:
    - from:
        - podSelector:
            matchLabels:
              app.kubernetes.io/part-of: bib
