apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}-fx-service
  labels:
    app: fx-service
    app.kubernetes.io/name: fx-service
    app.kubernetes.io/instance: {{ .Release.Name }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - name: http
      port: {{ .Values.service.httpPort }}
      targetPort: http
      protocol: TCP
    - name: grpc
      port: {{ .Values.service.grpcPort }}
      targetPort: grpc
      protocol: TCP
  selector:
    app: fx-service
    app.kubernetes.io/instance: {{ .Release.Name }}
